body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.App {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px auto;
  background: #fff;
  text-align: center;
}

.TaskInput {
  margin-bottom: 20px;
}

.TaskInput input {
  padding: 10px;
  width: 80%;
}

.TaskInput button {
  padding: 10px 20px;
  margin-top: 10px;
}

.TaskList {
  list-style: none;
  padding: 0;
}

.TaskItem {
  padding: 6px;
  border-bottom: 1px solid #ccc;
}

.TaskItem:last-child {
  border-bottom: none;
}

.TaskItem span {
  margin-right: 10px;
}

button {
  padding: 5px 10px;
}

.Filters button {
  margin: 0 4px;
  /* margin-bottom: 6px; */
}
