.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  margin-left: 186.5px;
}

.HelloSayMyName {
  /* padding-left: 100px; */
  justify-items: center;
  grid-area: 3/3;
}
